</br>
<%= form_for message, remote: true, authenticity_token: true do |f| %>
  <div class='field'>
    <%= f.label :body, 'Your message:' %></br>
    <%= f.text_area :body, data: {textarea: 'message'} %>
  </div>

  <%= f.hidden_field :chatroom_id, value: chatroom.id %>

  <%= f.submit 'Send', data: {send: 'message'} %>
<% end %>
