<div class='chat-message'>
  <div class='profile-photo-container profile-photo-small'>
    <img class='profile-photo' src=<%= message.user.profile_photo %> />
  </div>

  <strong><%= message.user.username %> (<%=message.created_at.strftime('%l:%M %p') %> on <%= message.created_at.strftime('%b %d, %G') %>): </strong>
  <span class='message-body'>
    <%= message.body %>
  </span></br>
</div>
