<div class='chat-message'>
  <%- if message.user.profile_photo -%>
    <div class='profile-photo-container profile-photo-small'>
      <img class='profile-photo' src=<%= message.user.profile_photo %> />
    </div>
  <%- end -%>

  <strong><%= message.user.username %> (<%=message.created_at.strftime('%l:%M %p') %> on <%= message.created_at.strftime('%b %d, %G') %>): </strong>
  <span class='message-body'>
    <%= message.body %>
  </span></br>
</div>
