<div class='chat-message'>
  <%- if message.user.profile_photo -%>
    <div class='profile-photo-container profile-photo-small'>
      <img class='profile-photo' src=<%= message.user.profile_photo %> />
    </div>
  <%- end -%>

  <strong><%= message.user.username %> </strong> (<%=message.created_at.strftime('%l:%M%p') %> on <%= message.created_at.strftime('%b %d, %G') %>):

  <%- if message.user_id == current_user.id -%>
    <span class='red-text'>
      <%= message.body %>
    </span><br/>
  <%- else -%>
    <span class='blue-text'>
      <%= message.body %>
    </span><br/>
  <%- end -%>
</div>
