<div class='left-right-margin'>
  <%- if current_user.id == @chatroom.owner_id -%>
    <h2>INVITE PEOPLE TO <%= @chatroom.name.upcase %></h2>

    <%= form_for [@chatroom, @membership] do |f| %>
      <div class='field'>
        <%= f.label :user, 'ID of the person you want to invite:', for: 'membership_user_id' %><br/>
        <%= f.text_field :user_id %>
      </div>

      <div class='field'>
        <%= f.submit 'Invite' %>
      </div>
    <%- end -%>
  <%- end -%>
</div>
