<div class='left-right-margin'>
  <%- if current_user -%>
    <h2><%= @chatroom.name.upcase %></h2>
    <h6 class='center'>Welcome, <%= current_user.username %></h6>

    <%- if @chatroom.messages.any? -%>
      <div class='black-ring'>
        <%= render partial: 'messages/message', collection: @chatroom.messages %>
      </div>
    <%end%>

    <%= render partial: 'messages/message_form', locals: {message: @message, chatroom: @chatroom} %></br>

    <%- if current_user.admin? -%>
      <%= link_to 'Edit this chatroom', edit_chatroom_path(@chatroom) %></br>
      <%= link_to 'Delete this chatroom', chatroom_path(@chatroom),
        method: :delete,
        data: { confirm: 'Are you sure?' } %>
    <%- end -%>
  <%- else -%>
    <p>Hey is a pretty basic messenging application. Please sign in or sign up to continue.</p>
  <%- end -%>
</div>
